/*font-family: 'Architects Daughter', cursive;
font-family: 'Shadows Into Light', cursive;*/
#nav {
    text-align: center;
    font-size: larger;
    background-image: url('./Assets/landing\ for\ menu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    background-color: #F15A29;
 } 
 .arrangement {
     display: flex;
     justify-content: space-between;
     margin: 20;
     list-style-type: none;
 }
 .second {
     display: flex;
     list-style-type: none;
 }
 .fastfood {
     display: inline-block;
     justify-content: space-between;
     list-style-type: none;
 }
 .back {
    background-image: url("./Assets/foodsBg.jpg")
    width: 80%
    margin: 0 auto;
    padding: 5em 6em;
}
.container {
    background-color: #fff;
}
.list {
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #999;
}
#list-1 {
    background: #fff;
    padding-top: 1em;
    padding-left: 7em;
    padding-right: 7em;
    color: #F25C2A;
    font-weight: bold;
}
#list-2 {
    border-right: .8px solid #111;
    padding-right: 6em;
}
.Fastfoodsimages {
   text-align: center;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-top: 1.5em;
   margin-left: 4em;
   margin-right: 4em;
}
#burgerchicken p{
    color: #F25C2A;
    font-weight: bold;
    display: flex;
    
}
#pizza {
    color: #F25C2A;
    font-weight: bold;
}
#beef {
    color: #F25C2A;
    font-weight: bold;
}
.last {
    background-image: url("./Assets/backgroundsubscribe.jpg");
    text-align: center;
    list-style-type: none;
}



 
