/*font-family: 'Architects Daughter', cursive;
font-family: 'Shadows Into Light', cursive;*/
#nav {
    text-align: center;
    font-size: larger;
    background-image: url('./Assets/landing\ for\ menu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    background-color: #F15A29;
 } 
 /* .arrangement {
     display: flex;
     justify-content: space-between;
     margin: 20;
     list-style-type: none;
     position: relative;
     margin-right: 3vw;
     float: left;
     opacity: 0.9; */
 }
 .second {
     display: flex;
     list-style-type: none;
     margin-top: 160pxgit;
 }
 #foods {
     box-shadow: #111;
 }
 .fastfood {
     display: inline-block;
     justify-content: space-between;
     list-style-type: none;
 }
 .back {
    width: 80%
    margin: 0 auto;
    padding: 5em 6em;
}
.container {
    background-color: #fff;
    background-image: url("./Assets/foodsBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.list {
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #999;
}
#list-1 {
    background: #fff;
    padding-top: 1em;
    padding-left: 7em;
    padding-right: 7em;
    color: #F25C2A;
    font-weight: bold;
}
#list-2 {
    border-right: .8px solid #111;
    padding-right: 6em;
}
.Fastfoodsimages {
   text-align: center;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-top: 1.5em;
   margin-left: 4em;
   margin-right: 4em;
   display: flex;
}
#burgerchicken p{
    color: #F25C2A;
    font-weight: bold;
    display: flex;
    
}
#pizza {
    color: #F25C2A;
    font-weight: bold;
}
#beef {
    color: #F25C2A;
    font-weight: bold;
    
}
.last {
    background-image: url("./Assets/backgroundsubscribe.jpg");
    text-align: center;
    list-style-type: none;
    display: flex;
}
#last {
    background-color: #F15A29;
    margin-right: 20px;
}
.images {
    width: fit-content;
    position: relative;
    top: -10vh;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1vw;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px 2px grey;
    float: left;
    margin-right: 3vw;
    display: block;

}
.customers {
    width: 50vw;
    height: 30vh;
    margin: auto;
    position: relative;
    top: 80vh;
    border: 0.5px solid grey;
    box-shadow: 0px 0px 1px 1px silver;
}
.customers-message1 {
    width: 20vw;
    text-align: justify;
    letter-spacing: 0.1em;
    text-justify: auto;
    position: relative;
    top: 7vh;
    padding-left: 3vw;
}
.customers-message2 {
    text-align: justify;
    letter-spacing: 00.1em;
    text-justify: auto;
    width: 20vw;
    float: right;
    position: relative;
    top: 5.5vh;
    left: 1.75vw;
    border-left: 1px solid black;
    padding-left: 3vw;
}
.customers-images {
    position: relative;
    top: 9vh;
    left: 5vw;
}
.s1 , .s2 {
    color: #F15A29;
    font-size: 2em;
}
.s1 {
    margin-right: 1vw;
    position: relative;
    top: 1vh;
}
.s2 {
    margin-left: 1vw;
    position: relative;
    top: 1vh;
}
.subscribe {
    width: 60vw;
    height: 25vh;
    background-image: url("./Assets/backgroundsubscribe.jpg");
    position: relative;
    top: 100vh;
}
#Email {
    font-size: 1.2em;
    width: 13vw;
    height: 4vh;
    position: relative;
    left: 19vw;
    padding-left: 0.5vw;
    opacity: 0.5;
}
#subscribe {
    color: white;
    font-size: 1.3em;
    width: 10vw;
    height: 4vh;
    margin: auto;
    background: #F15A29;
    position: relative;
    left: 20vw;
    border: 0px solid black;
    border-radius: 3px;
}
.last {
    width: 60vw;
    height: 45vh;
    background: #F15A29;
    position: relative;
    top: 51vw;
}




 
