/*font-family: 'Architects Daughter', cursive;
font-family: 'Shadows Into Light', cursive;*/
#nav {
    text-align: center;
    font-size: larger;
    background-image: url('./Assets/landing\ for\ menu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    background-color: #F15A29;
 } 
 .arrangement {
     display: flex;
     justify-content: space-between;
     margin: 20;
     list-style-type: none;
 }
 .second {
     display: flex;
     list-style-type: none;
 }
 .fastfood {
     display: inline-block;
     justify-content: space-between;
     list-style-type: none;
 }
 .pics {
     display: flex;
     justify-content: space-between;
     list-style-type: none;
 }
 li ul nav {
     margin: 0 auto;
     padding: 0.1% 0;
     margin-right: 0;
 }
 
